.no-padding {
	padding: 0
}
.padding-left{
	padding-left:1rem;
}
.divider {
  width: 0;
  margin: 0 0.1rem;
  overflow: hidden;
  border-left: 1px solid #e9ecef;
}
.margin{
	margin:1rem;
}
.margin-top{
	margin-top:1rem;
}
.margin-left{
	margin-left:1rem;
}